<style>
    #chartModal.modal .modal-content {
        width: 756px;
        height: 458px;
    }
    #chart-modal-body {
        position: absolute;
    }
    #chartModal.modal .modal-footer {
        display: flex;
        justify-content: space-between;
    }
    .chart-modal-select {
        width: auto;
    }
    .square-chart {
        margin-left: 25%;
    }
</style>

{% load static %}

<!-- Chart Modal -->
<div class="modal fade" id="chartModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="position: relative;">
            <canvas id="chart-modal-body"></canvas>
      </div>
      <div class="modal-footer">
          <select id="select-chart-type-modal" class="form-control chart-modal-select" onchange="renderChart(this)">
              <option value="bar">Bar Chart</option>
              <option value="horizontal_bar">Horizontal Bar</option>
              <option id="pie-option-modal" value="pie">Pie</option>
          </select>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

    $('#chartModal').on('shown.bs.modal', function() {
        $(document).off('focusin.modal');
    });

    $("#chartModal.modal .modal-content").resizable({
        containment: "document",
        minHeight: 421,
        minWidth: 701,
        autoHide: true,
        aspectRatio: true
    });

    $("#chartModal").on("hidden.bs.modal", function () {
        Chart.getChart('chart-modal-body').destroy();
    });
</script>