<!DOCTYPE html>
<html lang="en">

<!-- Action Forms -->

<form id="logoutForm" action="{% url 'logout' %}" method="GET" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="chatbot" value="true">
    <input id="logout_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="logout_form_submit" type="submit">
</form>

<form id="loginForm" action="{% url 'login' %}" method="POST" style="display: none;">
    {% csrf_token %}
    <input id="username_input" type="hidden" name="username" value= "">
    <input id="password_input" type="hidden" name="password" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="login_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="login_form_submit" type="submit">
</form>

<form id="signupForm" action="{% url 'signup' %}" method="POST" style="display: none;">
    {% csrf_token %}
    <input id="signup_username_input" type="hidden" name="username" value= "">
    <input id="signup_password_input" type="hidden" name="password1" value= "">
    <input id="signup_password2_input" type="hidden" name="password2" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="signup_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="signup_form_submit" type="submit">
</form>

<form id="chatbotDataSelection" action="{% url 'selected_data' %}" style="display: none;" method="POST">
    {% csrf_token %}
    <input id="open_document_name" type="hidden" name="from_button" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="data_selection_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="layout_name_chat" type="hidden" name="best_layout_selected" value="">
</form>

<form id="userLogForm" style="display: none;">
    {% csrf_token %}
    <input id="chat_msg" type="hidden" name="chat_msg" value= "">
    <input id="user_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="user_log_form_submit" type="submit">
</form>

<form id="botLogForm" style="display: none;">
    {% csrf_token %}
    <input id="bot_chat_msg" type="hidden" name="chat_msg" value= "">
    <input id="bot_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="chat_msg_is_action" type="hidden" name="is_action" value= "">
    <input id="bot_chat_action" type="hidden" name="action" value= "">
    <input id="bot_log_form_submit" type="submit">
</form>

<!-- <div id="jsConnector" style="display: none;"></div> -->

<!-- Rasa WebChat Style -->

<style>
.rw-conversation-container .rw-header {
    background-color: #fa7070;
}
.rw-conversation-container .rw-messages-container .rw-message .rw-client {
    background-color: #fa7070;
}
.rw-launcher {
    background-color: #fa7070;
}
#stt-feature {
    right: 95px;
}
#tts-feature {
    right: 170px;
}
.chat-feature-btn {
    position: fixed;
    background-color: #6c757d;

    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: slide-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: slide-in;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: slide-in;
    animation-fill-mode: forwards;
    display: none;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 10px 1px #b5b5b5;
    height: 60px;
    margin: 0;
    width: 60px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.show-chat-feature {
    display: flex;
}
.checked-chat-feature {
    transform: scale(0.95) !important;
    background-color: #545b62;
}
.chat-feature-btn:focus {
    outline: none;
}
.chat-feature-img {
    width: 27px;

    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin-block-end: 0;

    max-height: 70%;
    object-fit: contain;

    -webkit-animation-delay: 0;
    -webkit-animation-duration: .5s;
    -webkit-animation-name: rotation-lr;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-delay: 0;
    -moz-animation-duration: .5s;
    -moz-animation-name: rotation-lr;
    -moz-animation-fill-mode: forwards;
    animation-delay: 0;
    animation-duration: .5s;
    animation-name: rotation-lr;
    animation-fill-mode: forwards;
}
</style>

<head>
    {% load static %}
</head>

<script>
    (function clearStorage() {
        if ('{{storage_clear}}') {
            let text;
            if ('{{storage_clear}}' === "logout") {
                text = "I have successfully logged you out";
            } else if ('{{storage_clear}}' === "login") {
                text = "I have logged you in without any problem";
            } else if ('{{storage_clear}}' === "signup") {
                text = "I have created your user and now you are logged in";
            } else if ('{{storage_clear}}' === "nochat"){
                localStorage.clear();
            }

            if ('{{storage_clear}}' !== "nochat") {
                localStorage.setItem("chat_session", '{"metadata":{"tooltipSent":{},"linkTarget":"","userInput":"","domHighlight":{},"hintText":"","showTooltip":true},"conversation":[{"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text":"' + text + '","sender":"response","showAvatar":true}],"params":{"unreadCount":0,"connectingText":"Waiting for server...","oldUrl":"","connected":true,"docViewer":false,"isChatOpen":false,"disabledInput":false,"pageChangeCallbacks":{},"isChatVisible":true,"initialized":false,"messageDelayed":false},"version":"1.0.0"}');
            }
        }
    })();

    function getCookie(cookieName) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [key,value] = el.split('=');
            cookie[key.trim()] = value;
        })
        return cookie[cookieName];
    }

    function generateInitPayload() {
        let action = '/start_intent';
        let sessionid = "{{ request.session.session_key }}";
        let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        let csrftoken = getCookie("csrftoken");
        return action + '{\"csrfmiddlewaretoken\":\"' + csrfmiddlewaretoken + '\",\"csrftoken\":\"' + csrftoken + '\",\"sessionid\":\"' + sessionid +
            ('{{ user.chatprofile.nickname }}' ? '\",\"nickname\":\"' + '{{ user.chatprofile.nickname }}': "") +
            ('{{ user.chatprofile.first_login }}' ? '\",\"first_login\":\"' + '{{ user.chatprofile.first_login }}': "") +
            ('{{storage_clear}}' && '{{storage_clear}}' !== "nochat" ? '\",\"greet_again\":\"' + 'True': "") + '\"}';
    }

    function doSomeCleanup() {
        localStorage.clear();
    }

    {% comment %}
    // Set a listener for when an element is modified
    var values;
    var textMsg;
    // Select the target node.
    var target = document.getElementById('jsConnector');
    // Create an observer instance.
    var observer = new MutationObserver(function(mutations) {
        values = target.innerHTML.split(",");
        if (values[0] === "longest_thread") {
            if (values[1] > 1) {
                textMsg = "I have found " + parseInt(values[1]) + " threads with a maximum depth of " + parseInt(values[2]);
            } else {
                textMsg = "Here is the longest thread and it has a depth of " + values[2];
            }
        }
        addChatBotMessage(textMsg)
    });
    // Pass in the target node, as well as the observer options.
    observer.observe(target, {
        attributes:    true,
        childList:     true,
        characterData: true
    });

    function addChatBotMessage(textMsg) {
        let imgsrc = document.querySelector(".rw-header-and-loading img.rw-avatar").src;
        //let html = '<div class="rw-message rw-typing-indication rw-with-avatar"><img src="' + imgsrc + '" class="rw-avatar" alt="profile"><div class="rw-response"><div id="wave"><span class="rw-dot"></span><span class="rw-dot"></span><span class="rw-dot"></span></div></div></div>';
        let html = '<div class="rw-group-message rw-from-response"><div class="rw-message rw-with-avatar"><img src="' + imgsrc + '" class="rw-avatar" alt="profile"><div class="rw-response"><div class="rw-message-text"><div class="rw-markdown"><p>' + textMsg + ' </p></div></div></div></div></div>'
        document.getElementById("rw-messages").appendChild(htmlToElement(html));
        addToLocalStorageObject("chat_session", "conversation", textMsg);
    }

    /**
     * @param {String} html representing a single element
     * @return {Element}
     */
    function htmlToElement(html) {
        var template = document.createElement('template');
        html = html.trim(); // Never return a text node of whitespace as the result
        template.innerHTML = html;
        return template.content.firstChild;
    }

    {% endcomment %}

    function botMessageEvent(e) {
        console.log('the bot said something: ' + e.text);
        if (e.text) {

            // Get the existing localStorage data
            var existingStorage = localStorage.getItem("chat_session");
            // If no existing data, create an array
            // Otherwise, convert the localStorage string to an array
            existingStorage = existingStorage ? JSON.parse(existingStorage) : {};

            let messageList = e.text.split(",");
            switch (messageList[0]) {
                case "intent_logout":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.hidden = true;
                    e.text = "I'm working on it";
                    document.getElementById("logout_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("logout_form_submit").click();

                    break;
                case "intent_login":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.hidden = true;
                    e.text = "I'll start your session right away";
                    document.getElementById("username_input").value = messageList[1];
                    document.getElementById("password_input").value = messageList[2];
                    document.getElementById("login_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("login_form_submit").click();
                    break;
                case "intent_signup":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.hidden = true;
                    e.text = "In no time it will be done";
                    document.getElementById("signup_username_input").value = messageList[1];
                    document.getElementById("signup_password_input").value = messageList[2];
                    document.getElementById("signup_password2_input").value = messageList[3];
                    document.getElementById("signup_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("signup_form_submit").click();
                    break;
                case "intent_open_document":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.hidden = true;
                    e.text = "I'm opening the document";
                    let documentName = messageList[1];
                    var mainForm = '{{ selected_item }}' ? document.getElementById("main_form") : document.getElementById("chatbotDataSelection");
                    console.log(dataset_dropdown_value)
                    var dataset_dropdown_value;

                    if ('{{ selected_item }}') {
                        // Change select's option
                        let datasetDropdown = document.getElementById("dataset_dropdown");
                        dataset_dropdown_value = datasetDropdown.value;
                        datasetDropdown.value = documentName;
                    } else {
                        document.getElementById("open_document_name").value = documentName;
                    }

                    let formData = new FormData(mainForm);

                    $.ajax({
                        type: "POST",
                        url: "{% url 'generate_dataset' %}",
                        data: formData,
                        // handle a successful response
                        success: function (data) {
                            if (data === "document_not_exist") {
                                if ('{{ selected_item }}') {
                                    document.getElementById("dataset_dropdown").value = dataset_dropdown_value;
                                }
                                injectIntentConversation("I cannot find any document with the name you have given me");
                            } else if (data === "open_document_no_active_session") {
                                if ('{{ selected_item }}') {
                                    document.getElementById("dataset_dropdown").value = dataset_dropdown_value;
                                }
                                injectIntentConversation("You need to be logged in to access the documents");
                            } else {
                                if ('{{ selected_item }}') {
                                    createOpenDocumentInputs(mainForm, documentName, existingStorage);
                                } else {
                                    document.getElementById("data_selection_chat_session_id").value = existingStorage["session_id"];
                                }

                                d3.json(data, function (error, treeData) {
                                    let root = treeData;
                                    var i = 0;

                                    function recurse(node, parent) {
                                        node.parent = parent; //We assign a parent to the node
                                        if (parent) node.depth = node.parent.depth + 1; //If parent is not null
                                        if (node.children) node.children.forEach(element => recurse(element, node));
                                        if (!node.id) node.id = ++i;
                                    }

                                    root.depth = 0;
                                    recurse(root, null);

                                    let hierarchyName = getHierarchyName(root, L, GFcomp, d_lvl);
                                    let layout;
                                    switch (hierarchyName) {
                                        case "Unspecified":
                                            layout = "force";
                                            break;
                                        case "Elongated":
                                            layout = "tree";
                                            break;
                                        case "Compact":
                                            layout = "radial";
                                            break;
                                        case "nCompact":
                                            layout = "force";
                                            break;
                                        case "Hybrid":
                                            layout = "force";
                                            break;
                                    }
                                    if ('{{ selected_item }}') {
                                        document.getElementById("layout_name_item").value = layout;
                                    } else {
                                        document.getElementById("layout_name_chat").value = layout;
                                    }
                                    mainForm.submit()
                                });
                            }
                        },
                        // handle a non-successful response
                        error: function(jqXHR, textStatus, errorThrown) { // on error..
                            if (jqXHR.status === 0) {
                                alert('Not connect: Verify Network.');
                            } else if (jqXHR.status === 404) {
                                alert('Requested page not found [404]');
                            } else if (jqXHR.status === 500) {
                                alert('Internal Server Error [500].');
                            } else if (textStatus === 'parsererror') {
                                alert('Requested JSON parse failed.');
                            } else if (textStatus === 'timeout') {
                                alert('Time out error.');
                            } else if (textStatus === 'abort') {
                                alert('Ajax request aborted.');
                            } else {
                                alert('Uncaught Error: ' + jqXHR.responseText);
                            }
                        },
                        cache: false,
                        contentType: false,
                        processData: false,
                    })
                    break;
                case "intent_change_layout":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    if ('{{ selected_item }}') {
                        if (messageList[1] === "tree_layout_button" && document.getElementById("tree_label").classList.contains("active")) {
                            e.text = "Already in the layout Tree";
                        } else if (messageList[1] === "force_layout_button" && document.getElementById("force_label").classList.contains("active")) {
                            e.text = "Already in the layout Force";
                        } else if (messageList[1] === "radial_layout_button" && document.getElementById("radial_label").classList.contains("active")) {
                            e.text = "Already in the layout Radial";
                        } else if (messageList[1] === "treeMap_layout_button" && document.getElementById("treeMap_label").classList.contains("active")) {
                            e.text = "Already in the layout Circle Packing";
                        } else {
                            e.text = "Layout changed";
                            // setTimeout
                            document.getElementById(messageList[1]).click();
                        }
                    } else {
                        e.text =  "Open a document first, in order to perform this action";
                        // selectedDataError(existingStorage);
                    }
                    break;
                case "intent_switch_or_and":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    if ('{{ selected_item }}') {
                        if (messageList[1] === "or_button" && document.getElementById("or_label").classList.contains("active")) {
                            e.text =  "OR is already set";
                        } else if (messageList[1] === "and_button" && document.getElementById("and_label").classList.contains("active")) {
                            e.text =  "AND is already set";
                        } else {
                            e.text =  messageList[2];
                            // setTimeout
                            document.getElementById(messageList[1]).click();
                        }
                    } else {
                        e.text =  "Open a document first, in order to perform this action";
                        // selectedDataError(existingStorage);
                    }
                    break;
                case "intent_filter":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    if ('{{ selected_item }}') {
                        let filterChecked;

                        if (document.getElementById("or_label").classList.contains("active")) {
                            filterChecked = document.getElementById(messageList[1] + "OR").checked;
                            document.getElementById(messageList[1] + "OR").click();
                        } else if (document.getElementById("and_label").classList.contains("active")) {
                            filterChecked = document.getElementById(messageList[1]).checked;
                            document.getElementById(messageList[1]).click();
                        }
                        if (filterChecked) {
                            e.text = "The check box has been switched"
                        } else {
                            e.text =  messageList[2];
                        }
                    } else {
                        e.text =  "Open a document first, in order to perform this action";
                        // selectedDataError(existingStorage);
                    }
                    break;
                case "intent_filter_all":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    if ('{{ selected_item }}') {
                        let filterAllChecked;

                        if (document.getElementById("or_label").classList.contains("active")) {
                            filterAllChecked = document.getElementById("highlight-OR-" + messageList[1]).checked;
                            document.getElementById("highlight-OR-" + messageList[1]).click();
                        } else if (document.getElementById("and_label").classList.contains("active")) {
                            filterAllChecked = document.getElementById("highlight-AND-" + messageList[1]).checked;
                            document.getElementById("highlight-AND-" + messageList[1]).click();
                        }
                        if (filterAllChecked) {
                            e.text = "The check box has been switched"
                        } else {
                            e.text =  messageList[2];
                        }
                    } else {
                        e.text =  "Open a document first, in order to perform this action";
                        // selectedDataError(existingStorage);
                    }
                    break;
                case "intent_highlight_graph":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    if ('{{ selected_item }}') {
                        e.text = messageList[2];
                        $("#tree-container").trigger(messageList[1]);
                        $(".modal .modal-body").trigger(messageList[1]);
                    } else {
                        e.text =  "Open a document first, in order to perform this action";
                        // selectedDataError(existingStorage);
                    }
                    break;
                default:
                    // Saving in the log the message received from the bot
                    document.getElementById("bot_chat_msg").value = e.text;
                    document.getElementById("bot_chat_session_id").value = existingStorage["session_id"];
                    document.getElementById("bot_chat_action").value = "{% url 'bot_chat_log' %}";
                    document.getElementById("bot_log_form_submit").click();
            }
        }
    }

    function injectIntentConversation(textMsg){
        // Get the existing localStorage data
        var existingStorage = localStorage.getItem("chat_session");
        // If no existing data, create an array
        // Otherwise, convert the localStorage string to an array
        existingStorage = existingStorage ? JSON.parse(existingStorage) : {};

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:5005/conversations/" + existingStorage["session_id"] + "/trigger_intent?token=DataVisualizationInLinguisticsSecretToken&include_events=NONE&output_channel=socketio", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
        "name": "generate_response_message",
        "entities": {
            "response_message": textMsg
        }
        }));
    }

    function selectedDataError(existingStorage, errorMsg = "Open a document first, in order to perform this action"){
        addToLocalStorageObject("chat_session", "conversation", errorMsg);
        // Saving in the log the message received from the bot
        document.getElementById("bot_chat_msg").value = errorMsg;
        document.getElementById("bot_chat_session_id").value = existingStorage["session_id"];
        document.getElementById("bot_chat_action").value = "{% url 'error_chat_log' %}";
        document.getElementById("bot_log_form_submit").click();
        // setTimeout
        window.location = window.location.href.split("?")[0];
    }

    function createOpenDocumentInputs(mainForm, documentName, existingStorage) {
        let inputChatbot = document.createElement("input");
        inputChatbot.setAttribute("type", "hidden");
        inputChatbot.setAttribute("name", "chatbot");
        inputChatbot.setAttribute("value", "true");
        mainForm.appendChild(inputChatbot);
        let inputLayoutName = document.createElement("input");
        inputLayoutName.setAttribute("id", "layout_name_item");
        inputLayoutName.setAttribute("type", "hidden");
        inputLayoutName.setAttribute("name", "best_layout_selected");
        inputLayoutName.setAttribute("value", "");
        mainForm.appendChild(inputLayoutName);
        let chatSessionId = document.createElement("input");
        chatSessionId.setAttribute("type", "hidden");
        chatSessionId.setAttribute("name", "session_id");
        chatSessionId.setAttribute("value", existingStorage["session_id"]);
        mainForm.appendChild(chatSessionId);
    }

    function saveUserInputLog() {
        setTimeout(function () {
            if (document.querySelector('#rw-messages')) {
                // Select the target node.
                var target = document.querySelector('#rw-messages')

                // Get the existing localStorage data
                var existingStorage = localStorage.getItem("chat_session");

                // If no existing data, create an array
                // Otherwise, convert the localStorage string to an array
                existingStorage = existingStorage ? JSON.parse(existingStorage) : {};

                // Create an observer instance.
                var observer = new MutationObserver(function(mutations) {
                    groupMessage = document.querySelectorAll(".rw-group-message:last-child");
                    // the NodeList is defined, has elements and the first instance belongs to the class "rw-from-client".
                    if (typeof groupMessage !== 'undefined' && groupMessage.length !== 0 && groupMessage[0].classList.contains("rw-from-client")){
                        document.getElementById("chat_msg").value = groupMessage[0].innerText;
                        document.getElementById("user_chat_session_id").value = existingStorage["session_id"];
                        document.getElementById("user_log_form_submit").click();
                        // Create an observer instance.
                        // In case the user writes before the chatbot has responded to the last input
                        var secondObserver = new MutationObserver(function(mutations) {
                            moreMessages = document.querySelectorAll(".rw-group-message:last-child .rw-message:last-child .rw-client:last-child");
                            document.getElementById("chat_msg").value = moreMessages[0].innerText;
                            document.getElementById("user_chat_session_id").value = existingStorage["session_id"];
                            document.getElementById("user_log_form_submit").click();
                        });

                        secondObserver.observe(groupMessage[0], {
                            attributes:    true,
                            childList:     true,
                            characterData: true
                        });
                    }
                });

                // Pass in the target node, as well as the observer options.
                observer.observe(target, {
                    attributes:    true,
                    childList:     true,
                    characterData: true
                });
            } else {
                console.log("Chat section hidden")
            }
        }, 200);
    }

    function showChatFeatures() {
        document.getElementById('stt-feature').classList.add("show-chat-feature");
        document.getElementById('tts-feature').classList.add("show-chat-feature");
    }
    function closeChatFeatures() {
        document.getElementById('stt-feature').classList.remove("show-chat-feature");
        document.getElementById('tts-feature').classList.remove("show-chat-feature");
    }
    function addNewFeatures() {
        setTimeout(function () {
            let ttsFeature = document.createElement("button");
            ttsFeature.innerHTML = "<img src='{% static 'images/chat/features/speaker-svgrepo-com.svg' %}' class='chat-feature-img'>";
            ttsFeature.type = "button";
            ttsFeature.setAttribute('id', 'tts-feature');
            ttsFeature.classList.add('chat-feature-btn');
            document.querySelector(".rw-widget-container").appendChild(ttsFeature);

            let sttFeature = document.createElement("button");
            sttFeature.innerHTML = "<img src='{% static 'images/chat/features/microphone-svgrepo-com.svg' %}' class='chat-feature-img'>";
            sttFeature.type = "button";
            sttFeature.setAttribute('id', 'stt-feature');
            sttFeature.classList.add('chat-feature-btn');
            document.querySelector(".rw-widget-container").appendChild(sttFeature);

            $("#stt-feature").click(function (){
                $("#stt-feature").toggleClass('checked-chat-feature');
            });
            $("#tts-feature").click(function (){
                $("#tts-feature").toggleClass('checked-chat-feature');
            });

            if(document.querySelector('.rw-widget-container').classList.contains('rw-chat-open')) {
                showChatFeatures();
            }
        }, 200);
    }

    function saveBotAction(msgText, session_id) {
        // Saving in the log the message received from the bot
        document.getElementById("bot_chat_msg").value = msgText;
        document.getElementById("chat_msg_is_action").value = 'true';
        document.getElementById("bot_chat_session_id").value = session_id;
        document.getElementById("bot_chat_action").value = "{% url 'bot_chat_log' %}";
        document.getElementById("bot_log_form_submit").click();
    }

    (function chatbotMessage(e) {
        if ('{{chatbot_error}}') {
            addToLocalStorageObject("chat_session", "conversation", '{{chatbot_error}}');
        }
        if ('{{chatbot_success}}') {
            addToLocalStorageObject("chat_session", "conversation", '{{chatbot_success}}');
        }
    })();

    /**
     * Add an item to a localStorage() object
     * @param {String} name  The localStorage() key
     * @param {String} key   The localStorage() value object key
     * @param {String} value The localStorage() value object value
     */
    function addToLocalStorageObject(name, key, value) {

        // Get the existing data
        let existing = localStorage.getItem(name);

        // If no existing data, create an array
        // Otherwise, convert the localStorage string to an array
        existing = existing ? JSON.parse(existing) : {};

        // Add new data to localStorage Array
        existing[key].push({"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text": value,"sender":"response","showAvatar":true,"timestamp":Date.now()});

        // Save back to localStorage
        localStorage.setItem(name, JSON.stringify(existing));

    };

    function getProfileAvatar() {
        let num = Math.floor(Math.random() * 6) + 1;
        return "../static/images/profile_avatar/profile-avatar-" + num + ".png";
    }

    function getChatSubtitle() {
        let text;
        if ("{{ user.is_authenticated }}" === "True") {
            if ("{{ user.chatprofile.first_login }}" === "True") {
                text = "Welcome to chat section";
            } else if ("{{ user.chatprofile.first_login }}" === "False" && "{{ user.chatprofile.nickname }}") {
                text = "Say hi and get started!";
            } else {
                text = "Tell me your nickname at any time";
            }
        } else {
            text = "Say hi and get started!";
        }

        return text;
    }

</script>

<script type="text/javascript">
    $(document).on('submit','#userLogForm', function (e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'user_chat_log' %}",
            data: {
                chat_msg: $('#chat_msg').val(),
                session_id: $('#user_chat_session_id').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            // handle a successful response
            success: function (data) {

            },
            // handle a non-successful response
            error: function(jqXHR, textStatus, errorThrown) { // on error..
{% comment %}                if (jqXHR.status === 0) {
                    alert('Not connect: Verify Network.');
                } else if (jqXHR.status === 404) {
                    alert('Requested page not found [404]');
                } else if (jqXHR.status === 500) {
                    alert('Internal Server Error [500].');
                } else if (textStatus === 'parsererror') {
                    alert('Requested JSON parse failed.');
                } else if (textStatus === 'timeout') {
                    alert('Time out error.');
                } else if (textStatus === 'abort') {
                    alert('Ajax request aborted.');
                } else {
                    alert('Uncaught Error: ' + jqXHR.responseText);
                }{% endcomment %}
            }
        })
    })
    $(document).on('submit','#botLogForm', function (e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: $('#bot_chat_action').val(),
            data: {
                chat_msg: $('#bot_chat_msg').val(),
                session_id: $('#bot_chat_session_id').val(),
                is_action: $('#chat_msg_is_action').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            // handle a successful response
            success: function (data) {

            },
            // handle a non-successful response
            error: function(jqXHR, textStatus, errorThrown) { // on error..

            }
        })
    })
</script>

<script>
    !(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
                title: 'Rasa bot',
                subtitle: getChatSubtitle(),
                initPayload: generateInitPayload(),
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                profileAvatar:getProfileAvatar(),
                showFullScreenButton: false,
                customMessageDelay: (message) => {
                    let delay = message.length * 30;
                    if (delay > 2 * 1000) delay = 3 * 1000;
                    if (delay < 400) delay = 1000;
                    return delay;
                },
                onSocketEvent: {
                    'bot_uttered': botMessageEvent,
                    'connect': function() {
                        console.log('connection established');
                        saveUserInputLog();
                        addNewFeatures();
                    },
                    'disconnect': function() {
                        doSomeCleanup();
                    },
                },
                onWidgetEvent: {
                    onChatClose: function(widgetEvent) {
                        console.log('connection onChatClose');
                        closeChatFeatures();
                    },
                    onChatOpen: function(widgetEvent) {
                        console.log('connection onChatOpen');
                        showChatFeatures();
                        saveUserInputLog();
                    },
                    onChatHidden: function(widgetEvent) {
                        console.log('connection onChatHidden');
                    },
                    onChatVisible: function(widgetEvent) {
                        console.log('connection onChatVisible');
                    },
                },
                // showMessageDate: true,
                // params: {storage: "session"},
                // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
</script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>#}
{#<script>#}
{#    let socketId = JSON.parse(localStorage.getItem('chat_session'))['session_id'];#}
{#    // Connect to RASA server#}
{#    const socket = io.sockets.sockets.get(socketId);#}
{#    socket.on('connect', function () {#}
{#        console.log("Connected to Socket.io server");#}
{#    });#}
{##}
{#    socket.on('connect_error', (error) => {#}
{#        // Write any connection errors to the console#}
{#        console.error(error);#}
{#    });#}
{##}
{#    socket.on('bot_uttered', (args) => {#}
{#        // Write any connection errors to the console#}
{#        console.log("test");#}
{#    });#}
{#</script>#}

</html>