<!DOCTYPE html>
<html lang="en">

<!-- Action Forms -->

<form id="logoutForm" action="{% url 'logout' %}" method="get" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="chatbot" value="true">
</form>

<form id="loginForm" action="{% url 'login' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input id="username_input" type="hidden" name="username" value= "">
    <input id="password_input" type="hidden" name="password" value= "">
    <input type="hidden" name="chatbot" value="true">
</form>

<form id="signupForm" action="{% url 'signup' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input id="signup_username_input" type="hidden" name="username" value= "">
    <input id="signup_password_input" type="hidden" name="password1" value= "">
    <input id="signup_password2_input" type="hidden" name="password2" value= "">
    <input type="hidden" name="chatbot" value="true">
</form>

<form id="chatbotDataSelection" action="{% url 'selected_data' %}" style="display: none;" method="POST">
    {% csrf_token %}
    <input id="open_document_name" type="hidden" name="from_button" value= "">
    <input type="hidden" name="chatbot" value="true">
</form>

<!-- Rasa WebChat Style -->

<style>
.rw-conversation-container .rw-header {
    background-color: #fa7070;
}
.rw-conversation-container .rw-messages-container .rw-message .rw-client {
    background-color: #fa7070;
}
.rw-launcher {
    background-color: #fa7070;
}
</style>

<script>
    (function clearStorage() {
        if ('{{storage_clear}}') {
            if ('{{storage_clear}}' === "logout") {
                localStorage.setItem("chat_session", '{"metadata":{"tooltipSent":{},"linkTarget":"","userInput":"","domHighlight":{},"hintText":"","showTooltip":true},"conversation":[{"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text":"I have successfully logged you out","sender":"response","showAvatar":true}],"params":{"unreadCount":0,"connectingText":"Waiting for server...","oldUrl":"","connected":true,"docViewer":false,"isChatOpen":false,"disabledInput":false,"pageChangeCallbacks":{},"isChatVisible":true,"initialized":false,"messageDelayed":false},"version":"1.0.0"}');
            } else if ('{{storage_clear}}' === "login") {
                localStorage.setItem("chat_session", '{"metadata":{"tooltipSent":{},"linkTarget":"","userInput":"","domHighlight":{},"hintText":"","showTooltip":true},"conversation":[{"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text":"I have logged you in without any problem","sender":"response","showAvatar":true}],"params":{"unreadCount":0,"connectingText":"Waiting for server...","oldUrl":"","connected":true,"docViewer":false,"isChatOpen":false,"disabledInput":false,"pageChangeCallbacks":{},"isChatVisible":true,"initialized":false,"messageDelayed":false},"version":"1.0.0"}');
            } else if ('{{storage_clear}}' === "signup") {
                localStorage.setItem("chat_session", '{"metadata":{"tooltipSent":{},"linkTarget":"","userInput":"","domHighlight":{},"hintText":"","showTooltip":true},"conversation":[{"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text":"I have created your user and now you are logged in","sender":"response","showAvatar":true}],"params":{"unreadCount":0,"connectingText":"Waiting for server...","oldUrl":"","connected":true,"docViewer":false,"isChatOpen":false,"disabledInput":false,"pageChangeCallbacks":{},"isChatVisible":true,"initialized":false,"messageDelayed":false},"version":"1.0.0"}');
            } else if ('{{storage_clear}}' === "nochat"){
                localStorage.clear();
            }
        }
    })();

    function getCookie(cookieName) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [key,value] = el.split('=');
            cookie[key.trim()] = value;
        })
        return cookie[cookieName];
    }

    function generateInitPayload() {
        let action;
        if ('{{storage_clear}}') {
            action = '/new_start_intent';
        } else {
            action = '/start_intent';
        }
        let sessionid = "{{ request.session.session_key }}";
        let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        let csrftoken = getCookie("csrftoken");
        return action + '{\"csrfmiddlewaretoken\":\"' + csrfmiddlewaretoken + '\",\"csrftoken\":\"' + csrftoken + '\",\"sessionid\":\"' + sessionid + '\"}';
    }

    function doSomeCleanup() {
        localStorage.clear();
    }

    function botMessageEvent(e) {
        console.log('the bot said something: ' + e.text);
        if (e.text) {
            messageList = e.text.split(",");
            if (messageList[0] === "intent_logout") {
                e.text = "I'm working on it";
                document.getElementById("logoutForm").submit()
            } else if(messageList[0] === "intent_login") {
                e.text = "I'm working on it";
                document.getElementById("username_input").value = messageList[1];
                document.getElementById("password_input").value = messageList[2];
                document.getElementById("loginForm").submit()
            } else if(messageList[0] === "intent_signup") {
                e.text = "I'm working on it";
                document.getElementById("signup_username_input").value = messageList[1];
                document.getElementById("signup_password_input").value = messageList[2];
                document.getElementById("signup_password2_input").value = messageList[3];
                document.getElementById("signupForm").submit()
            } else if(messageList[0] === "intent_open_document") {
                e.text = "I'm working on it";
                let documentName = messageList[1];
                var mainForm = document.getElementById("main_form");
                if (mainForm) {
                    let inputDocument = document.createElement("input");
                    inputDocument.setAttribute("type", "hidden");
                    inputDocument.setAttribute("name", "selected_data");
                    inputDocument.setAttribute("value", documentName);
                    mainForm.appendChild(inputDocument);
                    mainForm.submit()
                } else {
                    document.getElementById("open_document_name").value = documentName;
                    document.getElementById("chatbotDataSelection").submit()
                }
            } else if(messageList[0] === "intent_change_layout") {
                e.text = "I'm working on it";
                if ('{{ selected_item }}') {
                    addToLocalStorageObject("chat_session", "conversation", "Done!");
                    document.getElementById(messageList[1] + "_layout_button").click()
                } else {
                    addToLocalStorageObject("chat_session", "conversation", "Open a document first to be able to change the layout");
                    window.location = window.location.href.split("?")[0];
                }
            }
        }
    }

    (function chatbotErrorMessage(e) {
        if ('{{chatbot_error}}') {
            addToLocalStorageObject("chat_session", "conversation", '{{chatbot_error}}');
        }
    })();

    /**
     * Add an item to a localStorage() object
     * @param {String} name  The localStorage() key
     * @param {String} key   The localStorage() value object key
     * @param {String} value The localStorage() value object value
     */
    function addToLocalStorageObject(name, key, value) {

        // Get the existing data
        var existing = localStorage.getItem(name);

        // If no existing data, create an array
        // Otherwise, convert the localStorage string to an array
        existing = existing ? JSON.parse(existing) : {};

        // Add new data to localStorage Array
        existing[key].push({"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text": value,"sender":"response","showAvatar":true,"timestamp":Date.now()});

        // Save back to localStorage
        localStorage.setItem(name, JSON.stringify(existing));

    };
</script>

<script>
    !(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
                title: 'Rasa bot',
                subtitle: 'Say hi and get started!',
                initPayload: generateInitPayload(),
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                showFullScreenButton: false,
                customMessageDelay: (message) => {
                    let delay = message.length * 30;
                    if (delay > 2 * 1000) delay = 3 * 1000;
                    if (delay < 400) delay = 1000;
                    return delay;
                },
                onSocketEvent: {
                    'bot_uttered': botMessageEvent,
                    'connect': function() {
                        console.log('connection established')
                    },
                    'disconnect': function() {
                        doSomeCleanup();
                    },
                },
                onWidgetEvent: {
                    onChatClose: function(widgetEvent) {
                        console.log('connection onChatClose')
                    },
                    onChatOpen: function(widgetEvent) {
                        console.log('connection onChatOpen')
                    },
                    onChatHidden: function(widgetEvent) {
                        console.log('connection onChatHidden')
                    },
                },
                // showMessageDate: true,
                // params: {storage: "session"},
                // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
</script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>#}
{#<script>#}
{#    let socketId = JSON.parse(localStorage.getItem('chat_session'))['session_id'];#}
{#    // Connect to RASA server#}
{#    const socket = io.sockets.sockets.get(socketId);#}
{#    socket.on('connect', function () {#}
{#        console.log("Connected to Socket.io server");#}
{#    });#}
{##}
{#    socket.on('connect_error', (error) => {#}
{#        // Write any connection errors to the console#}
{#        console.error(error);#}
{#    });#}
{##}
{#    socket.on('bot_uttered', (args) => {#}
{#        // Write any connection errors to the console#}
{#        console.log("test");#}
{#    });#}
{#</script>#}

</html>