<!DOCTYPE html>
<html lang="en">

<!-- Action Forms -->

<form id="logoutForm" action="{% url 'logout' %}" method="get" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="chatbot" value="true">
</form>

<!-- Rasa WebChat Style -->

<style>
.rw-conversation-container .rw-header {
    background-color: #fa7070;
}
.rw-conversation-container .rw-messages-container .rw-message .rw-client {
    background-color: #fa7070;
}
.rw-launcher {
    background-color: #fa7070;
}
</style>

<script>
    function getCookie(cookieName) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [key,value] = el.split('=');
            cookie[key.trim()] = value;
        })
        return cookie[cookieName];
    }

    function generateInitPayload() {
        let action = '/greet';
        let sessionid = "{{ request.session.session_key }}";
        let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        let csrftoken = getCookie("csrftoken");
        return action + '{\"csrfmiddlewaretoken\":\"' + csrfmiddlewaretoken + '\",\"csrftoken\":\"' + csrftoken + '\",\"sessionid\":\"' + sessionid + '\"}';
    }

    function doSomeCleanup() {
        localStorage.clear();
    }

    function botMessageEvent(e) {
        console.log('the bot said something: ' + e.text);
        doSomeCleanup();
        
        if (e.text === "I have successfully logged you out") {
            if (document.getElementsByClassName("rw-widget-container")[0].classList.contains("rw-chat-open")) {
                document.getElementsByClassName("rw-launcher")[0].click();
            }
            document.getElementById("logoutForm").submit()
        }
    }
</script>

<script>
    !(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
                title: 'Rasa bot',
                subtitle: 'Say hi and get started!',
                initPayload: generateInitPayload(),
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                showFullScreenButton: false,
                customMessageDelay: (message) => {
                    let delay = message.length * 30;
                    if (delay > 2 * 1000) delay = 3 * 1000;
                    if (delay < 400) delay = 1000;
                    return delay;
                },
                onSocketEvent: {
                    'bot_uttered': botMessageEvent,
                    'connect': function() {
                        console.log('connection established')
                    },
                    'disconnect': function() {
                        doSomeCleanup();
                    },
                },
                onWidgetEvent: {
                    onChatClose: function(widgetEvent) {
                        console.log('connection onChatClose')
                        // console.log(window.WebChat)
                    },
                    onChatOpen: function(widgetEvent) {
                        console.log('connection onChatOpen')
                    },
                    onChatHidden: function(widgetEvent) {
                        console.log('connection onChatHidden')
                    },
                },
                // params: {storage: "session"},
                // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
</script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>#}
{#<script>#}
{#    let socketId = JSON.parse(localStorage.getItem('chat_session'))['session_id'];#}
{#    // Connect to RASA server#}
{#    const socket = io.sockets.sockets.get(socketId);#}
{#    socket.on('connect', function () {#}
{#        console.log("Connected to Socket.io server");#}
{#    });#}
{##}
{#    socket.on('connect_error', (error) => {#}
{#        // Write any connection errors to the console#}
{#        console.error(error);#}
{#    });#}
{##}
{#    socket.on('bot_uttered', (args) => {#}
{#        // Write any connection errors to the console#}
{#        console.log("test");#}
{#    });#}
{#</script>#}

</html>