<!DOCTYPE html>
<html lang="en">

<!-- Action Forms -->

<form id="logoutForm" action="{% url 'logout' %}" method="get" style="display: none;">
    {% csrf_token %}
    <input type="hidden" name="chatbot" value="true">
    <input id="logout_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="logout_form_submit" type="submit">
</form>

<form id="loginForm" action="{% url 'login' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input id="username_input" type="hidden" name="username" value= "">
    <input id="password_input" type="hidden" name="password" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="login_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="login_form_submit" type="submit">
</form>

<form id="signupForm" action="{% url 'signup' %}" method="post" style="display: none;">
    {% csrf_token %}
    <input id="signup_username_input" type="hidden" name="username" value= "">
    <input id="signup_password_input" type="hidden" name="password1" value= "">
    <input id="signup_password2_input" type="hidden" name="password2" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="signup_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="signup_form_submit" type="submit">
</form>

<form id="chatbotDataSelection" action="{% url 'selected_data' %}" style="display: none;" method="post">
    {% csrf_token %}
    <input id="open_document_name" type="hidden" name="from_button" value= "">
    <input type="hidden" name="chatbot" value="true">
    <input id="data_selection_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="data_selection_form_submit" type="submit">
</form>

<form id="userLogForm" style="display: none;">
    {% csrf_token %}
    <input id="chat_msg" type="hidden" name="chat_msg" value= "">
    <input id="user_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="user_log_form_submit" type="submit">
</form>

<form id="botLogForm" style="display: none;">
    {% csrf_token %}
    <input id="bot_chat_msg" type="hidden" name="chat_msg" value= "">
    <input id="bot_chat_session_id" type="hidden" name="session_id" value= "">
    <input id="chat_msg_is_action" type="hidden" name="is_action" value= "">
    <input id="bot_chat_action" type="hidden" name="action" value= "">
    <input id="bot_log_form_submit" type="submit">
</form>

<!-- Rasa WebChat Style -->

<style>
.rw-conversation-container .rw-header {
    background-color: #fa7070;
}
.rw-conversation-container .rw-messages-container .rw-message .rw-client {
    background-color: #fa7070;
}
.rw-launcher {
    background-color: #fa7070;
}
</style>

<script>
    (function clearStorage() {
        if ('{{storage_clear}}') {
            let text;
            if ('{{storage_clear}}' === "logout") {
                text = "I have successfully logged you out";
            } else if ('{{storage_clear}}' === "login") {
                text = "I have logged you in without any problem";
            } else if ('{{storage_clear}}' === "signup") {
                text = "I have created your user and now you are logged in";
            } else if ('{{storage_clear}}' === "nochat"){
                localStorage.clear();
            }

            if ('{{storage_clear}}' !== "nochat") {
                localStorage.setItem("chat_session", '{"metadata":{"tooltipSent":{},"linkTarget":"","userInput":"","domHighlight":{},"hintText":"","showTooltip":true},"conversation":[{"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text":"' + text + '","sender":"response","showAvatar":true}],"params":{"unreadCount":0,"connectingText":"Waiting for server...","oldUrl":"","connected":true,"docViewer":false,"isChatOpen":false,"disabledInput":false,"pageChangeCallbacks":{},"isChatVisible":true,"initialized":false,"messageDelayed":false},"version":"1.0.0"}');
            }
        }
    })();

    function getCookie(cookieName) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [key,value] = el.split('=');
            cookie[key.trim()] = value;
        })
        return cookie[cookieName];
    }

    function generateInitPayload() {
        let action;
        if ('{{storage_clear}}') {
            action = '/new_start_intent';
        } else {
            action = '/start_intent';
        }
        let sessionid = "{{ request.session.session_key }}";
        let csrfmiddlewaretoken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        let csrftoken = getCookie("csrftoken");
        return action + '{\"csrfmiddlewaretoken\":\"' + csrfmiddlewaretoken + '\",\"csrftoken\":\"' + csrftoken + '\",\"sessionid\":\"' + sessionid + '\"' +
            ',\"nickname\":\"' + '{{ user.chatprofile.nickname }}' + '\",\"first_login\":\"' + '{{ user.chatprofile.first_login }}' + '\"}';
    }

    function doSomeCleanup() {
        localStorage.clear();
    }

    function botMessageEvent(e) {
        console.log('the bot said something: ' + e.text);
        if (e.text) {

            // Get the existing localStorage data
            var existingStorage = localStorage.getItem("chat_session");
            // If no existing data, create an array
            // Otherwise, convert the localStorage string to an array
            existingStorage = existingStorage ? JSON.parse(existingStorage) : {};

            let messageList = e.text.split(",");
            switch (messageList[0]) {
                case "intent_logout":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.text = "I'm working on it";
                    document.getElementById("logout_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("logout_form_submit").click();

                    break;
                case "intent_login":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.text = "I'm working on it";
                    document.getElementById("username_input").value = messageList[1];
                    document.getElementById("password_input").value = messageList[2];
                    document.getElementById("login_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("login_form_submit").click();
                    break;
                case "intent_signup":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.text = "I'm working on it";
                    document.getElementById("signup_username_input").value = messageList[1];
                    document.getElementById("signup_password_input").value = messageList[2];
                    document.getElementById("signup_password2_input").value = messageList[3];
                    document.getElementById("signup_chat_session_id").value = existingStorage["session_id"];
                    // setTimeout
                    document.getElementById("signup_form_submit").click();
                    break;
                case "intent_open_document":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.text = "I'm working on it";
                    let documentName = messageList[1];
                    var mainForm = document.getElementById("main_form");
                    if (mainForm) {
                        createOpenDocumentInputs(mainForm, documentName, existingStorage);
                        // setTimeout
                        mainForm.submit()
                    } else {
                        document.getElementById("data_selection_chat_session_id").value = existingStorage["session_id"];
                        document.getElementById("open_document_name").value = documentName;
                        // setTimeout
                        document.getElementById("data_selection_form_submit").click();
                    }
                    break;
                case "intent_change_layout":
                    saveBotAction(e.text, existingStorage["session_id"]);
                    e.text = "I'm working on it";
                    if ('{{ selected_item }}') {
                        addToLocalStorageObject("chat_session", "conversation", "Done!");
                        // setTimeout
                        document.getElementById(messageList[1] + "_layout_button").click();
                    } else {
                        addToLocalStorageObject("chat_session", "conversation", "Open a document first to be able to change the layout");
                        // Saving in the log the message received from the bot
                        document.getElementById("bot_chat_msg").value = "Open a document first to be able to change the layout";
                        document.getElementById("bot_chat_session_id").value = existingStorage["session_id"];
                        document.getElementById("bot_chat_action").value = "{% url 'bot_chat_log' %}";
                        document.getElementById("bot_log_form_submit").click();
                        // setTimeout
                        window.location = window.location.href.split("?")[0];
                    }
                    break;
                default:
                    // Saving in the log the message received from the bot
                    document.getElementById("bot_chat_msg").value = e.text;
                    document.getElementById("bot_chat_session_id").value = existingStorage["session_id"];
                    document.getElementById("bot_chat_action").value = "{% url 'bot_chat_log' %}";
                    document.getElementById("bot_log_form_submit").click();
            }
        }
    }

    function createOpenDocumentInputs(mainForm, documentName, existingStorage) {
        // Change select's option
        document.getElementById("dataset_dropdown").value = documentName;

        let inputChatbot = document.createElement("input");
        inputChatbot.setAttribute("type", "hidden");
        inputChatbot.setAttribute("name", "chatbot");
        inputChatbot.setAttribute("value", "true");
        mainForm.appendChild(inputChatbot);
        let chatSessionId = document.createElement("input");
        chatSessionId.setAttribute("type", "hidden");
        chatSessionId.setAttribute("name", "session_id");
        chatSessionId.setAttribute("value", existingStorage["session_id"]);
        mainForm.appendChild(chatSessionId);
    }

    function saveUserInputLog() {
        setTimeout(function () {
            if (document.querySelector('#rw-messages')) {
                // Select the target node.
                var target = document.querySelector('#rw-messages')

                // Get the existing localStorage data
                var existingStorage = localStorage.getItem("chat_session");

                // If no existing data, create an array
                // Otherwise, convert the localStorage string to an array
                existingStorage = existingStorage ? JSON.parse(existingStorage) : {};

                // Create an observer instance.
                var observer = new MutationObserver(function(mutations) {
                    groupMessage = document.querySelectorAll(".rw-group-message:last-child");
                    // the NodeList is defined, has elements and the first instance belongs to the class "rw-from-client".
                    if (typeof groupMessage !== 'undefined' && groupMessage.length !== 0 && groupMessage[0].classList.contains("rw-from-client")){
                        document.getElementById("chat_msg").value = groupMessage[0].innerText;
                        document.getElementById("user_chat_session_id").value = existingStorage["session_id"];
                        document.getElementById("user_log_form_submit").click();
                        // Create an observer instance.
                        // In case the user writes before the chatbot has responded to the last input
                        var secondObserver = new MutationObserver(function(mutations) {
                            moreMessages = document.querySelectorAll(".rw-group-message:last-child .rw-message:last-child .rw-client:last-child");
                            document.getElementById("chat_msg").value = moreMessages[0].innerText;
                            document.getElementById("user_chat_session_id").value = existingStorage["session_id"];
                            document.getElementById("user_log_form_submit").click();
                        });

                        secondObserver.observe(groupMessage[0], {
                            attributes:    true,
                            childList:     true,
                            characterData: true
                        });
                    }
                });

                // Pass in the target node, as well as the observer options.
                observer.observe(target, {
                    attributes:    true,
                    childList:     true,
                    characterData: true
                });
            } else {
                console.log("Error: Chat message section not found")
            }
        }, 200);
    }

    function saveBotAction(msgText, session_id) {
        // Saving in the log the message received from the bot
        document.getElementById("bot_chat_msg").value = msgText;
        document.getElementById("chat_msg_is_action").value = 'true';
        document.getElementById("bot_chat_session_id").value = session_id;
        document.getElementById("bot_chat_action").value = "{% url 'bot_chat_log' %}";
        document.getElementById("bot_log_form_submit").click();
    }

    (function chatbotErrorMessage(e) {
        if ('{{chatbot_error}}') {
            addToLocalStorageObject("chat_session", "conversation", '{{chatbot_error}}');
        }
    })();

    /**
     * Add an item to a localStorage() object
     * @param {String} name  The localStorage() key
     * @param {String} key   The localStorage() value object key
     * @param {String} value The localStorage() value object value
     */
    function addToLocalStorageObject(name, key, value) {

        // Get the existing data
        var existing = localStorage.getItem(name);

        // If no existing data, create an array
        // Otherwise, convert the localStorage string to an array
        existing = existing ? JSON.parse(existing) : {};

        // Add new data to localStorage Array
        existing[key].push({"type":"text","component":{"compare":null,"displayName":"Connect(s)","defaultTypes":{"displayTypingIndication":false}},"text": value,"sender":"response","showAvatar":true,"timestamp":Date.now()});

        // Save back to localStorage
        localStorage.setItem(name, JSON.stringify(existing));

    };

    function getProfileAvatar() {
        let num = Math.floor(Math.random() * 6) + 1;
        return "../static/images/profile_avatar/profile-avatar-" + num + ".png";
    }

    function getChatSubtitle() {
        let text;
        if ("{{ user.chatprofile.first_login }}" === "true") {
            text = "Welcome to chat section";
        } else if ("{{ user.chatprofile.first_login }}" === "false" && "{{ user.chatprofile.nickname }}" !== "None") {
            text = "Say hi and get started!";
        } else {
            text = "Tell me your nickname at any time";
        }
        return text;
    }

</script>

<script type="text/javascript">
    $(document).on('submit','#userLogForm', function (e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'user_chat_log' %}",
            data: {
                chat_msg: $('#chat_msg').val(),
                session_id: $('#user_chat_session_id').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            // handle a successful response
            success: function (data) {

            },
            // handle a non-successful response
            error: function(jqXHR, textStatus, errorThrown) { // on error..
                if (jqXHR.status === 0) {
                    alert('Not connect: Verify Network.');
                } else if (jqXHR.status === 404) {
                    alert('Requested page not found [404]');
                } else if (jqXHR.status === 500) {
                    alert('Internal Server Error [500].');
                } else if (textStatus === 'parsererror') {
                    alert('Requested JSON parse failed.');
                } else if (textStatus === 'timeout') {
                    alert('Time out error.');
                } else if (textStatus === 'abort') {
                    alert('Ajax request aborted.');
                } else {
                    alert('Uncaught Error: ' + jqXHR.responseText);
                }
            }
        })
    })
    $(document).on('submit','#botLogForm', function (e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: $('#bot_chat_action').val(),
            data: {
                chat_msg: $('#bot_chat_msg').val(),
                session_id: $('#bot_chat_session_id').val(),
                is_action: $('#chat_msg_is_action').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            },
            // handle a successful response
            success: function (data) {

            },
            // handle a non-successful response
            error: function(jqXHR, textStatus, errorThrown) { // on error..

            }
        })
    })
</script>

<script>
    !(function () {
      let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
      (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.0/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
          window.WebChat.default(
            {
                title: 'Rasa bot',
                subtitle: getChatSubtitle(),
                initPayload: generateInitPayload(),
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                profileAvatar:getProfileAvatar(),
                showFullScreenButton: false,
                customMessageDelay: (message) => {
                    let delay = message.length * 10;
                    if (delay > 2 * 1000) delay = 2 * 1000;
                    if (delay < 300) delay = 300;
                    return delay;
                },
                onSocketEvent: {
                    'bot_uttered': botMessageEvent,
                    'connect': function() {
                        console.log('connection established');
                        saveUserInputLog();
                    },
                    'disconnect': function() {
                        doSomeCleanup();
                    },
                },
                onWidgetEvent: {
                    onChatClose: function(widgetEvent) {
                        console.log('connection onChatClose');
                    },
                    onChatOpen: function(widgetEvent) {
                        console.log('connection onChatOpen');
                        saveUserInputLog();
                    },
                    onChatHidden: function(widgetEvent) {
                        console.log('connection onChatHidden');
                    },
                    onChatVisible: function(widgetEvent) {
                        console.log('connection onChatVisible');
                    },
                },
                // showMessageDate: true,
                // params: {storage: "session"},
                // add other props here
            },
            null
          );
        }),
        t.insertBefore(e, t.firstChild);
    })();
</script>

{#<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"></script>#}
{#<script>#}
{#    let socketId = JSON.parse(localStorage.getItem('chat_session'))['session_id'];#}
{#    // Connect to RASA server#}
{#    const socket = io.sockets.sockets.get(socketId);#}
{#    socket.on('connect', function () {#}
{#        console.log("Connected to Socket.io server");#}
{#    });#}
{##}
{#    socket.on('connect_error', (error) => {#}
{#        // Write any connection errors to the console#}
{#        console.error(error);#}
{#    });#}
{##}
{#    socket.on('bot_uttered', (args) => {#}
{#        // Write any connection errors to the console#}
{#        console.log("test");#}
{#    });#}
{#</script>#}

</html>