<div id="container"></div>
<div id="container2"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<button id="btnenabledisable" type="button" value="Enable/Disable Stacking">Enable/Disable Stacking</button>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Testing a barchart'
        },
        xAxis: {
            categories: [
                "Non-toxic comments", "Toxic comments"
            ]
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Non toxic comment',
            data: [
                {% for entry in dataset %}{{ entry.toxicity_no }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
            color: 'green'
        },
            {
                name: 'Low toxicity',
                data: [
                    {% for entry in dataset %}{{ entry.low_toxicity }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'yellow'
            },
            {
                name: 'Med toxicity',
                data: [
                    {% for entry in dataset %}{{ entry.med_toxicity }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'orange'
            },
            {
                name: 'High toxicity',
                data: [
                    {% for entry in dataset %}{{ entry.high_toxicity }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'red'
            }]
    });
    var chart = Highcharts.chart('container2', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Testing a barchart'
        },
        xAxis: {
            categories: [
                "Non-toxic comment", "Toxic comment"
            ]
        },
        plotOptions: {
            series: {
                stacking: ''
            }
        },
        series: [{
            name: 'Sarcasm',
            data: [
                {% for entry in dataset2 %}{{ entry.sarcasm }}{% if not forloop.last %}, {% endif %}{% endfor %}
            ],
            color: 'green'
        },
            {
                name: 'Argumentation',
                data: [
                    {% for entry in dataset2 %}{{ entry.argumentation }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'orange'
            },
            {
                name: 'Positive Stance',
                data: [
                    {% for entry in dataset2 %}{{ entry.positive_stance }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'blue'
            },
            {
                name: 'Negative Stance',
                data: [
                    {% for entry in dataset2 %}{{ entry.negative_stance }}{% if not forloop.last %}, {% endif %}{% endfor %}
                ],
                color: 'red'
            }]
    });

    var stacked = false;
    $("#btnenabledisable").on('click', function () {

        var options = GetOptions(chart);
        var ch = $('#container2').highcharts(),
            s = ch.series,
            sLen = s.length;

        for (var i = 0; i < sLen; i++) {
            if (stacked) {
                s[i].update({
                    stacking: ''
                }, false);
                s
            } else {
                s[i].update({
                    stacking: 'normal'
                }, false);
            }
        }
        stacked = !stacked;
        chart.redraw();
    });

    //Get options for the chart
    function GetOptions(charten) {
        var chart = charten,
            seriesOptions,
            options = chart.options;
        options.series = [];
        $.each(chart.series, function (index, serie) {
            seriesOptions = GetSeriesOptions(serie);

            options.series.push(seriesOptions);
        });
        return options;
        ;
    }

    //Get options from a series
    function GetSeriesOptions(serie) {
        seriesOptions = serie.options;
        seriesOptions.color = serie.color;
        seriesOptions.data = [];
        $.each(serie.data, function (i, point) {
            config = point.config;
            pointOptions = {
                x: point.x,
                y: point.y,
                name: point.name
            };
            if (typeof config === 'object' && point.config && config.constructor !== Array) {
                $.extend(pointOptions, config);
            }
            pointOptions.visible = point.visible;
            seriesOptions.data.push(pointOptions);
        });
        return seriesOptions;
    }
</script>

<button class="btn btn-primary" onclick="location.href={% url 'test2' %}">Chart Toxicity</button>
<button class="btn btn-primary" onclick="location.href={% url 'testButton' %}">Chart Some Columns</button>

