<div id="content1" width="20%"></div>
<div id="content2" width="20%"></div>
<div id="content3"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<body>
{% include "base_chart.html" with identifier="content1" chart_type="pie" %}
{% include "base.html" with identifier="content2" identifier2="container2" chart_type="column" %}
{% include "column_chart_toxic.html" with identifier="content3" %}

<button class="btn btn-primary" onclick="location.href={% url 'testButton' %}">Chart Some Columns</button>
</body>

