{% load static %}
<!DOCTYPE html>
<meta charset="utf-8">
<style>
    .row_cust {
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
        margin-top: 0px;
    }

    /* Create two equal columns that floats next to each other */
    .column3 {
        font-size: 15px;
        font-family: sans-serif;
        float: left;
        width: 300px;
        padding: 19px;
        line-height: 1;
        height: 1200px;
    }
</style>
<head>
    {% load static %}

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

</head>

<body>

{% include 'nav_bar.html' %}
<div class="row_cust" style="display: block; margin-top: -100px;">

    <div id="menu-left" class="column3">
        <!-- Highligth -->
        <div id="highlight-checkbox-group"
             style="margin-top: 10px;background-color: #c9daf8ff; padding-bottom: 10px;">
            <div>
                <div class="list-group list-group-flush" style="width: 261px;">
                    <button id="highlight_accordion_button" type="button"
                            class="accordion btn btn-secondary active"><span
                            style="text-align: center; font-weight: bold; vertical-align: center;" checked>
                    Highlight node & edge</span>
                        <div id="plus_sign_highlight" style="float: right;">
                            &#8722;
                        </div>
                    </button>
                    <div style="padding-top: 10px;padding-left: 10px;" class="panel">

                        <div class="text-center">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label id="and_label" style="width: 75px; height:fit-content;"
                                       class="btn btn-secondary">
                                    <input type="radio" name="cbHighlightProperty" value="and-group" id="and_button"
                                           autocomplete="off"> AND
                                </label>
                                <label id="or_label" style="width: 75px; height:fit-content;"
                                       class="btn btn-secondary active">
                                    <input type="radio" name="cbHighlightProperty" value="or-group" id="or_button"
                                           autocomplete="off" checked> OR
                                </label>
                            </div>
                        </div>

                        <br>

                        <div id="highlight_checks_OR" style="display: block;">
                            <!--Toxicity level-->
                            <div style="padding-top: 10px; padding-right: 10px">
                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-toxicity-0" id="highlight-toxicity-0OR"
                                           checked><label class="custom-control-label"
                                                          for="highlight-toxicity-0OR">Not toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#f7f7f7"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-toxicity-1" id="highlight-toxicity-1OR"
                                           checked><label class="custom-control-label"
                                                          for="highlight-toxicity-1OR">Mildly toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#cccccc"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-toxicity-2" id="highlight-toxicity-2OR"
                                           checked><label class="custom-control-label"
                                                          for="highlight-toxicity-2OR">Toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#737373"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-toxicity-3" id="highlight-toxicity-3OR"
                                           checked><label class="custom-control-label"
                                                          for="highlight-toxicity-3OR">Very toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#000000"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>

                            <!--Stance-->
                            <div style="padding-top: 10px;">
                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-neutral"
                                           id="highlight-neutralOR" checked><label class="custom-control-label"
                                                                                   for="highlight-neutralOR">Neutral
                                    stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#2b2727"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-positive" id="highlight-positiveOR" checked><label
                                        class="custom-control-label"
                                        for="highlight-positiveOR">Positive stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#77dd77"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                           value="highlight-negative" id="highlight-negativeOR" checked><label
                                        class="custom-control-label"
                                        for="highlight-negativeOR" checked>Negative stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#ff6961"/>
                                        </svg>
                                    </div>
                                </div>

                            </div>
                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>


                            <!--Target-->
                            <div class="custom-control custom-switch" style="line-height: 23px; padding-top: 10px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-group"
                                       id="highlight-groupOR" checked><label class="custom-control-label"
                                                                             for="highlight-groupOR">Target
                                group</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">

                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-person"
                                       id="highlight-personOR" checked><label class="custom-control-label"
                                                                              for="highlight-personOR">Target
                                person</label>
                            </div>
                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-stereotype"
                                       id="highlight-stereotypeOR" checked><label class="custom-control-label"
                                                                                  for="highlight-stereotypeOR">Stereotype</label>
                            </div>

                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>

                            <!--Features-->
                            <div class="custom-control custom-switch" style="line-height: 23px; padding-top: 10px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-argumentation" id="highlight-argumentationOR"
                                       checked><label class="custom-control-label"
                                                      for="highlight-argumentationOR">Argumentation</label>
                            </div>
                            <div class="custom-control custom-switch"
                                 style="line-height: 23px; margin-bottom: 15px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-constructiveness" id="highlight-constructivenessOR"
                                       checked><label class="custom-control-label"
                                                      for="highlight-constructivenessOR">Constructiveness</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">

                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-sarcasm"
                                       id="highlight-sarcasmOR" checked><label class="custom-control-label"
                                                                               for="highlight-sarcasmOR">Sarcasm</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-mockery"
                                       id="highlight-mockeryOR" checked><label class="custom-control-label"
                                                                               for="highlight-mockeryOR">Mockery</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-intolerance"
                                       id="highlight-intoleranceOR" checked><label class="custom-control-label"
                                                                                   for="highlight-intoleranceOR">Intolerance</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-improper-language" id="highlight-improper-languageOR"
                                       checked><label class="custom-control-label"
                                                      for="highlight-improper-languageOR">Improper
                                language</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-insult"
                                       id="highlight-insultOR" checked><label class="custom-control-label"
                                                                              for="highlight-insultOR">Insult</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightOR"
                                       value="highlight-aggressiveness" id="highlight-aggressivenessOR"
                                       checked><label class="custom-control-label"
                                                      for="highlight-aggressivenessOR">Aggressiveness</label>
                            </div>
                        </div>

                        <div id="highlight_checks_AND" style="display: none;">
                            <!--Toxicity level-->
                            <div style="padding-top: 10px; padding-right: 10px">
                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="radio" class="form-check-input" name="cbHighlightAND"
                                           value="highlight-toxicity-0" id="highlight-toxicity-0"
                                           checked><label class="form-check-label"
                                                          for="highlight-toxicity-0">Not toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#f7f7f7"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="radio" class="form-check-input" name="cbHighlightAND"
                                           value="highlight-toxicity-1" id="highlight-toxicity-1"
                                    ><label class="form-check-label"
                                            for="highlight-toxicity-1">Mildly toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#cccccc"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="radio" class="form-check-input" name="cbHighlightAND"
                                           value="highlight-toxicity-2" id="highlight-toxicity-2"
                                    ><label class="form-check-label"
                                            for="highlight-toxicity-2">Toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#737373"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="radio" class="form-check-input" name="cbHighlightAND"
                                           value="highlight-toxicity-3" id="highlight-toxicity-3"
                                    ><label class="form-check-label"
                                            for="highlight-toxicity-3">Very toxic</label>
                                    <div style="float: right">
                                        <svg height="20" width="30" style="display: inline-block;">
                                            <circle cx="20" cy="10" r="7" stroke="black" stroke-width="0.5"
                                                    fill="#000000"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>

                            <!--Stance-->
                            <div style="padding-top: 10px;">
                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                           value="highlight-neutral"
                                           id="highlight-neutral"><label class="custom-control-label"
                                                                         for="highlight-neutral">Neutral
                                    stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#2b2727"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                           value="highlight-positive" id="highlight-positive"><label
                                        class="custom-control-label"
                                        for="highlight-positive">Positive stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#77dd77"/>
                                        </svg>
                                    </div>
                                </div>

                                <div class="custom-control custom-switch" style="line-height: 23px;">
                                    <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                           value="highlight-negative" id="highlight-negative"><label
                                        class="custom-control-label"
                                        for="highlight-negative">Negative stance</label>
                                    <div style="float: right">
                                        <svg height=" 10" width="30" style="display: inline-block;">
                                            <rect width="20" height="10" fill="#ff6961"/>
                                        </svg>
                                    </div>
                                </div>

                            </div>
                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>


                            <!--Target-->
                            <div class="custom-control custom-switch" style="line-height: 23px; padding-top: 10px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-group"
                                       id="highlight-group"><label class="custom-control-label"
                                                                   for="highlight-group">Target
                                group</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">

                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-person"
                                       id="highlight-person"><label class="custom-control-label"
                                                                    for="highlight-person">Target
                                person</label>
                            </div>
                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-stereotype"
                                       id="highlight-stereotype"><label class="custom-control-label"
                                                                        for="highlight-stereotype">Stereotype</label>
                            </div>

                            <hr class="gradient-line" style="margin-top: 5px; margin-bottom: 5px;"/>

                            <!--Features-->
                            <div class="custom-control custom-switch" style="line-height: 23px; padding-top: 10px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-argumentation" id="highlight-argumentation"
                                ><label class="custom-control-label"
                                        for="highlight-argumentation">Argumentation</label>
                            </div>
                            <div class="custom-control custom-switch"
                                 style="line-height: 23px; margin-bottom: 15px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-constructiveness" id="highlight-constructiveness"
                                ><label class="custom-control-label"
                                        for="highlight-constructiveness">Constructiveness</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">

                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-sarcasm"
                                       id="highlight-sarcasm"><label class="custom-control-label"
                                                                     for="highlight-sarcasm">Sarcasm</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-mockery"
                                       id="highlight-mockery"><label class="custom-control-label"
                                                                     for="highlight-mockery">Mockery</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-intolerance"
                                       id="highlight-intolerance"><label class="custom-control-label"
                                                                         for="highlight-intolerance">Intolerance</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-improper-language" id="highlight-improper-language"
                                ><label class="custom-control-label" for="highlight-improper-language">Improper
                                language</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-insult"
                                       id="highlight-insult"><label class="custom-control-label"
                                                                    for="highlight-insult">Insult</label>
                            </div>

                            <div class="custom-control custom-switch" style="line-height: 23px;">
                                <input type="checkbox" class="custom-control-input" name="cbHighlightAND"
                                       value="highlight-aggressiveness" id="highlight-aggressiveness"
                                ><label class="custom-control-label"
                                        for="highlight-aggressiveness">Aggressiveness</label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
<div style="margin-left: 510px; margin-top: 100px;">
    <svg id="svg_treeMap" width="960" height="960"></svg>
</div>

</body>

<script>
    var dataset = "{% static dataset %}";
    var user = "{% static user %}";
</script>

<style>

    circle {


    }

    .leaf circle {

        fill-opacity: 1;

    }

    text {
        font: 10px sans-serif;
        text-anchor: middle;
    }

</style>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'js/circleTreemap.js' %}"></script>
<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }

    var highlight_accordion_expanded = false;
    jQuery("#highlight_accordion_button").click(function () {
        if (!highlight_accordion_expanded) {
            document.getElementById('plus_sign_highlight').innerHTML = '&#8722;';
            highlight_accordion_expanded = true;
            console.log("[User]", user.split('/')[2], "[interaction]", "showing_highlight_accordion", "[Date]", new Date().toISOString());
        } else {
            document.getElementById('plus_sign_highlight').innerHTML = '&#43;'
            highlight_accordion_expanded = false;
            console.log("[User]", user.split('/')[2], "[interaction]", "hidding_highlight_accordion", "[Date]", new Date().toISOString());
        }
    });

    jQuery("#and_button").click(function () {
        $(this).attr("checked", true);
        document.getElementById("and_label").className = "btn btn-secondary active";
        $('#or_button').attr("checked", false);
        document.getElementById("or_label").className = "btn btn-secondary";

        document.getElementById("highlight_checks_AND").style = "display: block;";
        document.getElementById("highlight_checks_OR").style = "display: none;";
        console.log('[User]', user.split('/')[2], '[interaction]', 'AND_button', '[Date]', new Date().toISOString());
    });

    jQuery("#or_button").click(function () {
        $('#and_button').attr("checked", false);
        document.getElementById("and_label").className = "btn btn-secondary";
        $(this).attr("checked", true);
        document.getElementById("or_label").className = "btn btn-secondary active";
        document.getElementById("highlight_checks_AND").style = "display: none;";
        document.getElementById("highlight_checks_OR").style = "display: block;";
        console.log('[User]', user.split('/')[2], '[interaction]', 'OR_button', '[Date]', new Date().toISOString());
    });
</script>
